<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
<div class="popup">
  <form action="/update/{{case.5}}"method="POST" >
    <input  class="agregar" type="text" name="caso" placeholder="numero de caso" value="{{case.6}}">
    <input  class="agregar" type="text" name="nombre" placeholder="nombre de arrendatario" value="{{case.0}}">
    <input  class="agregar" type="text" name="telefono" placeholder="telefono" value="{{case.1}}">
    <input  class="agregar" type="text" name="localidad" placeholder="localidad" value="{{case.2}}">
    <input  class="agregar" type="text" name="direccion" placeholder="direccion" value="{{case.3}}">
    <input  class="agregar" type="text" name="afectacion" placeholder="afectacion" value="{{case.4}}">
    <input  class="agregar" type="text" name="estado" placeholder="estado" value="{{case.7}}">

    <br>
    <button type="submit">save</button>
  </form>
</div>

  